<div class="scrollable">
    <ui-state id='activeTab' default='1'></ui-state>

    <div ng-show="showTabs" class='section scrollable-header'>
        <ul ng-show="showSecondTab" class="nav nav-tabs">
            <li ui-class="{'active': activeTab == 1}">
                <a ui-set="{'activeTab': 1}">{{"views.bus.route.one" | translate}}</a>
            </li>
            <li ui-class="{'active': activeTab == 2}">
                <a ui-set="{'activeTab': 2}">{{"views.bus.route.two" | translate}}</a>
            </li>
        </ul>
        <h4 class="page-header"><strong>{{ busNumber }}</strong> : {{busName}}
            <a ng-show="showNotifyButton()" ng-click="startNotifier()"
               ng-disabled="disableNotifyButton" class="btn btn-xs btn-primary pull-right">
                {{"views.bus.notifyme.button" | translate}}</a>
        </h4>

        <div ng-include="'alerts.html'"></div>
    </div>

    <div class="scrollable-content section">
        <div ng-show="showTabs" class='section'>
            <div ui-if="activeTab == 1">
                <div class="list-group">
                    <div ng-repeat="stop in routeOneStops" ng-click="changeSelectedBusStops(stop)"
                         class="cursor-hand list-group-item">
                        <strong>{{ stop.number }}</strong> - {{stop.name}}
                        <a ng-show="stop.notify" class="pull-right"><i class="fa fa-bell-o pull-right"></i></a>
                    </div>
                </div>
            </div>

            <div ui-if="activeTab == 2">
                <div class="list-group">
                    <div ng-repeat="stop in routeTwoStops" ng-click="changeSelectedBusStops(stop)"
                         class="cursor-hand list-group-item">
                        <strong>{{ stop.number }}</strong> - {{stop.name}}
                        <a ng-show="stop.notify" class="pull-right"><i class="fa fa-bell-o pull-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="showSecondTab" class="btn-group justified nav-tabs scrollable-footer">
        <a ui-set="{'activeTab': 1}"
           ui-class="{'active': activeTab == 1}" class="btn btn-sm btn-default">{{"views.bus.route.one" |
            translate}}</a>

        <a ui-set="{'activeTab': 2}"
           ui-class="{'active': activeTab == 2}" class="btn btn-sm btn-default">{{"views.bus.route.two" |
            translate}}</a>
    </div>
</div>