<div class="scrollable">
    <div class="scrollable-content section">
        <div class="list-group text-center">
            <div class="list-group-item list-group-item-home">
                <h1>{{"views.app.title" | translate}}
                    <small>{{"views.app.version" | translate}}</small>
                </h1>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <h3 class="home-heading">{{"views.home.intro.text" | translate}}</h3>
                    {{"views.home.intro.subtext" | translate}}
                </div>
            </div>
            <div class="list-group-item list-group-item-home">
                <div>
                    <a href="#/search-bus"><i class="fa fa-bus feature-icon text-primary"></i></a>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.home.search.bus.text" | translate}}</h3>
                    {{"views.home.search.bus.subtext" | translate}}
                </div>
            </div>


            <div class="list-group-item list-group-item-home">
                <div>
                    <i class="fa fa-map-marker feature-icon  text-primary"></i>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.home.search.stop.text" | translate}}</h3>
                    {{"views.home.search.stop.subtext" | translate}}
                </div>
            </div>


            <div ng-if="!isLoggedIn" class="list-group-item list-group-item-home">
                <div>
                    <a href="#/login"><i class="fa fa-sign-in feature-icon  text-primary"></i></a>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.login.login" | translate}}</h3>
                    {{"views.home.login.subtext" | translate}}
                </div>
            </div>

            <div ng-if="isLoggedIn" class="list-group-item list-group-item-home">
                <div>
                    <a ng-click="logout()"><i class="fa fa-sign-out feature-icon  text-primary"></i></a>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.home.sign.out" | translate}}</h3>
                </div>
            </div>

            <div ng-if="!isLoggedIn" class="list-group-item list-group-item-home">
                <div>
                    <a href="#/register"><i class="fa fa-users feature-icon text-primary"></i></a>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.home.register.text" | translate}}</h3>
                    {{"views.home.register.subtext" | translate}}
                </div>
            </div>

            <div ng-if="isLoggedIn" class="list-group-item list-group-item-home">
                <div>
                    <a href="#/settings"><i class="fa fa-cogs feature-icon text-primary"></i></a>
                </div>
                <div>
                    <h3 class="home-heading">{{"views.home.settings.text" | translate}}</h3>
                    {{"views.home.settings.subtext" | translate}}
                </div>
            </div>

        </div>

    </div>
</div>