<div class="modal" ui-if='modal1' ui-state='modal1' role="dialog">
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close"
                        data-ng-click="closeModal()">&times;</button>
                <h4 class="modal-title">{{"views.modal.header" | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{notificationMessage}}</p>
            </div>
            <div class="modal-footer">
                <button data-ng-click="closeModal()" class="btn btn-primary">{{"views.modal.button.okay" | translate}}</button>
            </div>
        </div>
    </div>
</div>