<div class="scrollable" ui-state="searchBar" ui-default='1'>
    <div>
        <input type="text"
               class="form-control scrollable-header"
               placeholder="{{'views.search.stop.placeholder.text' | translate}}"
               ng-model="selected"
               typeahead="stop as stop.displayName for stop in searchBusStops($viewValue)"
               typeahead-on-select="onSelect($item)"
               typeahead-wait-ms="300"/>
    </div>

    <div class="scrollable-content section">
        <div ng-include="'alerts.html'"></div>
        <div class="list-group">
            <div ng-repeat="stop in searchedBusStops" ng-click="changeSelectedBusStops(stop)"
                 class="cursor-hand list-group-item">
                <strong>{{ stop._id }}</strong> - {{stop.name}}
                <a ng-show="stop.notify" class="pull-right"><i class="fa fa-bell-o pull-right"></i></a>
            </div>
        </div>
    </div>
    <div class="btn-group justified nav-tabs scrollable-footer">
        <a ng-show="selectedBusStops.length > 0" ng-click="startNotifier()"
           ng-disabled="disableNotifyButton" class="btn btn-sm btn-primary pull-right">
            {{"views.bus.notifyme.button" | translate}}</a>
        <a ng-show="searchedBusStops.length > 0" ng-click="clearSelections()" class="btn btn-sm btn-default">
            {{"views.search.stop.selection.clear" | translate}}</a>
    </div>

</div>